.signin{
  position: fixed;
  top: 8%;
  left: 25%;
  width: 50%;
  background-color: black;
  border-radius: 20px;
  height: auto;
  padding-bottom: 20px;
  display: none;
  height: 600px;
  overflow: scroll;
  scrollbar-width: none;
}

.signin-container{
  position: relative;
}
.signin-container .close-menu-icon img{
  width: 25px;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
}

.signin-content{
 position: relative;
 background-color: brown;
}
.signin-content .twitter-icon img{
  width: 35px;
  position: absolute;
  top: 10px;
}

.signin-details{
 display: flex;
 flex-direction: column;
 text-align: left;
 padding-top: 80px;
 width: 70%;
 margin: auto;
}

.signin-info h3{
  margin-bottom: 25px;
  font-size: 25px;
}

.sign-in-option{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sign-in-option a button{
  width: 100%;
  height: 50px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.sign-in-option a .google-icons{
  background-image: url(/icon/google-logo-vector-rbg.png);
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 30px;
}
.sign-in-option a .apple-icons{
  background-image: url(/icon/apple-logo-vector-rbg.png);
  background-repeat: no-repeat;
  background-position: 5%;
  background-size: 30px;
}


.or-contents{
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.or-contents::before, 
.or-contents::after{
  content: "";
  background-color:rgb(111, 111, 111);
  width: 45%;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
}

.floating-label{
  position: relative;
}

#logins{
  height: 60px;
  border-radius: 5px;
  padding: 5px;
  background-color: black;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid rgb(154, 154, 154);
  color: white;
  font-size: 20px;
  width: 100%;
  padding-left: 10px;
  padding-top: 18px;
}

#logins + label{
  position: absolute;
  left: 10px;
  top: 20px;
  font-size: 20px;
  pointer-events: none;
}

#logins:focus {
  font-size: 20px;
  padding-top: 18px;
  padding-left: 10px;
  border: 1px solid rgb(10, 26, 243);;
}
#logins:focus + label,
#logins:not(:placeholder-shown) + label{
  top: 5px;
  color: rgb(10, 26, 243);
  font-size: 13px;
}
#logins:invalid{
  color: rgb(243, 10, 2);
}


.user-not-found{
  background-color: rgb(15, 215, 242);
  color: white;
  position: fixed;
  bottom: 1%;
  height: 50px;
  width: 50%;
  font-size: 15px;
  border-radius: 15px;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  display: none;
}
.sign-button{
  height: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color:  rgb(226, 226, 226);
  border: none;
  outline: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

.forgot-password-button{
  height: 40px;
  margin-bottom: 30px;
  background-color: black;
  border: 1px solid rgb(154, 154, 154);
  outline: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

.account-button{
  display: flex;
  gap: 5px;
}
.account-button button{
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}
.account-button button:hover{
  text-decoration: underline;
}

/* Media Query */

@media screen and (min-width: 344px) {
  .signin{
  top: 6%;
  left: 5%;
  width: 90%;
}

.signin-details{
 width: 85%;
}

.user-not-found{
  width: 90%;
  font-size: 17px;
}

}